@{
    ViewData["Title"] = "Error";
    var nome = ViewData["nome"];
}

<h1>Computador deletado com sucesso.</h1>
 <a href="/Computer/Index"><button type="submit" class="btn btn-primary">Voltar a Lista</button></a>